[v-cloak] {
  display: none;
}
html {
  font-family: SimHei, serif;
  font-size: 13.33333333vw;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.l {
  float: left;
}
.r {
  float: right;
}
.fix {
  *zoom: 1;
  *clear: both;
}
.fix:before,
.fix:after {
  display: table;
  clear: both;
  content: '';
}
